.TM-wrapper{
    /* background-color: blue; */
    width: 83.5vw;
    float: right;
    height: 10vw;
    margin-top: 6.5vw;
}

.TM-header{
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    margin: 0vw 3vw;
    align-items: center;
}
#TM-teamlogo {
    height: 7vw;
}


.TM-inner_wrapper{
    /* background-color: grey; */
    display: flex;
    justify-content: space-between;
    margin: 2vw 5vw;
}
.TM-progress-wrapper{
    /* background-color: brown; */
    padding: 0vw;
}


.TM-pgbr1,.TM-pgbr2{
    padding:  2vw;
}

.TM-pgbr1{
    background-color: #D1E8FF;
    margin-bottom: 3vw;
}
.TM-pgbr2{
    background-color: #E8E8E8;
}

#players-progress-wrapper{
    background-color: #F4F7FA;
    height: 25px;
    width: 300px;
    border-radius: 2px;
}
#bid-progress-wrapper{
    background-color: #F4F7FA;
    height: 25px;
    width: 300px;
    border-radius: 2px;
}
#players-progress-bar{
    background-color: #00376F;
    height: 25px;
}
#bid-progress-bar{
    background-color: #6A3BB8;
    height: 25px;
}



.TM-table-tr{
    border-bottom:  1px solid rgb(120, 119, 119);
}