.auction-screen-wrapper {
  background: rgb(23, 90, 143);
  background: linear-gradient(
    124deg,
    rgba(23, 90, 143, 1) 0%,
    rgba(52, 36, 105, 1) 50%,
    rgba(10, 82, 135, 1) 100%
  );
  height: 100vh;
  /* background-image: url("../../Assets/Images/AuctionScreen/playercard.png"); */
  background-size: cover;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  height: 100vh;
}

#AC-playerframe {
  height: 60vh;
  position: absolute;
  top: 8vh;
  left: 18vh;
}

#AC-basepricebox {
  height: 17vh;
  position: absolute;
  top: 12vh;
  left: 120vh;
}
#AC-bidpricebox {
  height: 35vh;
  position: absolute;
  top: 32vh;
  left: 121vh;
}
#AC-lineA1,
#AC-lineA2,
#AC-lineA3 {
  height: 6vh;
  position: absolute;
  top: 71vh;
  left: 24vh;
}
#AC-lineA2 {
  left: 69vh;
}
#AC-lineA3 {
  left: 112vh;
}

#AC-lineB1,
#AC-lineB2,
#AC-lineB3 {
  height: 8vh;
  position: absolute;
  top: 80vh;
  left: 24vh;
}
#AC-lineB2 {
  left: 70vh;
}
#AC-lineB3 {
  left: 113vh;
}



/* ------------------------------------------------ */

#AC-playerimage-wrapper{
    position: absolute;
    top: 19.8vh;
    left: 50vh;
    height: 36vh;
    /* background-color: rgba(255, 255, 255, 1); */
    width: 36vh;
    border-radius: 50%;
    text-align: center;
    /* background-color: rgb(249, 249, 62); */
}
#AC-playerimage{
  height: 36vh;
}

#cpllogo{
  position: absolute;
  top:16vh;
  left: 87vh;
}
#vibranium_logo{
  position: absolute;
  top:17.5vh;
  left: 30vh;
  height: 6vh;
}

#AC-playerIcon{
  height: 6vh;
  position: absolute;
  top:46vh;
  left: 107vh;
}

.AC-playernametext {
  position: absolute;
  top: 56vh;
  left: 40vh;
  font-size: 4vh;
  text-transform: uppercase;
  /* background-color: red; */
  width: 500px;
  text-align: center;
}

#AC-basepricetext {
  position: absolute;
  top: 16vh;
  left: 131vh;
  text-align: center;
  font-size: 2vh;
}
#AC-basepriceamt{
  /* background-color: red; */
  font-size: 5vh;
}

#AC-bidpricetext {
  position: absolute;
  top: 36vh;
  left: 123vh;
  text-align: center;
  font-size: 3vh;
}

#bidpriceamt {
  position: relative;
  top: 4vh;
  font-size: 8vh;
  /* background-color: red; */
  width: 250px;
}

#AC-branchtext,
#AC-semestertext,
#AC-prevteamtext {
  position: absolute;
  top: 73vh;
  left: 35vh;
  font-size: 2vh;
}
#AC-semestertext {
  left: 83vh;
}
#AC-prevteamtext {
  left: 120vh;
}

#AC-inningstext,
#AC-runstext,
#AC-wicketstext {
  position: absolute;
  top: 82vh;
  left: 35vh;
  font-size: 3vh;
}
#AC-runstext {
  left: 83vh;
}
#AC-wicketstext {
  left: 120vh;
}

#AC-bidwinningteam{
    position: absolute;
    /* background-color: red; */
    text-align: center;
    top: 56vh;
    left: 126vh;
    font-size: 3vh;
    opacity: 1;
    width: 200px;
    color: lightgray;
}
