.auction-screen-wrapper {
  background: rgb(23, 90, 143);
  background: linear-gradient(
    124deg,
    rgba(23, 90, 143, 1) 0%,
    rgb(35, 24, 73) 35%,
    rgb(35,24,73) 70%,
    rgba(10, 82, 135, 1) 100%
  );
  height: 100vh;
  /* background-image: url("../../Assets/Images/AuctionScreen/playercard.png"); */
  background-size: cover;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  height: 100vh;
}

#AC-playerframe {
  height: 60vh;
  position: absolute;
  top: 8vh;
  left: 18vh;
}

#AC-basepricebox {
  height: 17vh;
  position: absolute;
  top: 12vh;
  left: 120vh;
}
#AC-bidpricebox {
  height: 35vh;
  position: absolute;
  top: 32vh;
  left: 121vh;
}
#AC-lineA1,
#AC-lineA2,
#AC-lineA3 {
  height: 6vh;
  position: absolute;
  top: 71vh;
  left: 24vh;
}
#AC-lineA2 {
  left: 69vh;
}
#AC-lineA3 {
  left: 112vh;
}

#AC-lineB1,
#AC-lineB2,
#AC-lineB3 {
  /* height: 7vh; */
  width: 35vw;
  position: absolute;
  top: 80vh;
  left: 22vh;
}
#AC-lineB2 {
  left: 97vh;
}
#AC-lineB3 {
  left: 113vh;
}



/* ------------------------------------------------ */

#AC-playerimage-wrapper{
    position: absolute;
    top: 18vh;
    left: 50vh;
    height: 36vh;
    /* background-color: rgba(255, 255, 255, 1); */
    width: 36vh;

    overflow: hidden;
    
    /* border-radius: 50%; */
    text-align: center;
    /* background-color: rgb(249, 249, 62); */
}
#AC-playerimage{
  height: 40vh;
  /* transform: scale(1.3,1.3); */
}

#cpllogo{
  position: absolute;
  top:16vh;
  left: 25vh;
  height: 8vw;
}
#vibranium_logo{
  position: absolute;
  top:17.5vh;
  left: 100vh;
  height: 10vh;
}

#AC-playerIcon{
  height: 7vh;
  position: absolute;
  top:46vh;
  left: 103vh;
}

.AC-playernametext {
  position: absolute;
  top: 56vh;
  left: 40vh;
  font-size: 4vh;
  text-transform: uppercase;
  /* background-color: red; */
  width: 500px;
  text-align: center;
}

#AC-basepricetext {
  position: absolute;
  top: 16vh;
  left: 131vh;
  text-align: center;
  font-size: 2vh;
}
#AC-basepriceamt{
  /* background-color: red; */
  font-size: 5vh;
}

#AC-bidpricetext {
  position: absolute;
  top: 36vh;
  left: 123vh;
  text-align: center;
  font-size: 3vh;
}

#bidpriceamt {
  position: relative;
  top: 4vh;
  font-size: 8vh;
  /* background-color: red; */
  width: 250px;
}

#AC-branchtext,
#AC-semestertext,
#AC-prevteamtext {
  position: absolute;
  top: 73vh;
  left: 30vh;
  font-size: 2vh;
}
#AC-semestertext {
  left: 83vh;
}
#AC-prevteamtext {
  left: 120vh;
}

#AC-inningstext,
#AC-runstext,
#AC-wicketstext {
  position: absolute;
  top: 83vh;
  left: 26vh;
  font-size: 2vh;
}
/* #AC-runstext {
  left: 50vh;
} */
#AC-wicketstext {
  left: 100vh;
}

#AC-bidwinningteam{
    position: absolute;
    /* background-color: red; */
    text-align: center;
    top: 55vh;
    left: 126vh;
    font-size: 2.6vh;
    opacity: 1;
    width: 200px;
    color: rgb(243, 242, 242);
}
